
.content {
  position: relative;
  display: inline-block;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  background: #000000;
  border-radius: 5px;
}
.content video {
  border-radius: 5px;
}
#overlay{
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: 1;
   background-color: rgba(88,88,88,0.5); 
   border-radius: 1px;
}
.interior_overlay{
    background-color: rgba(88,88,88,0.9);
    margin: 30px 30px 30px 30px;
    height: auto;
}

#container{
    position: relative;
    display: block;
    margin: auto;
    width: 50%;
}

#player{
    position: relative;
}

